body {
    margin: 0;
    position: relative;
    height: 100vh;
}
#canvas {
    background-color: #99ccff;
    position: absolute;
    top: 0;
    left: 76px;
    bottom: 24px;
    right: 24px;
}
#toolbox {
    background-color: #bbb;
    position: absolute;
    top: 0;
    width: 76px;
    bottom: 0;
    position: absolute;
    padding-top: 2px;
    text-align: center;
}
#vscroll {
    width: 24px;
    right: 0;
    bottom: 24px;
    top: 0;
    background-color: bisque;
    position: absolute;
}
#hscroll {
    height: 24px;
    right: 24px;
    bottom: 0;
    left: 72px;
    background-color: bisque;
    position: absolute;
}
#toolbox > svg {
    border-style: solid;
    border-width: 2px;
    border-top-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #999;
    border-right-color: #999;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
}
.active {
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-top-color: #999;
    border-left-color: #999;
    background-color: #ddd;
    
}
#hscroll>div {
    width: 40px;
    height: 18px;
}
#vscroll>div {
    height: 30px;
    width: 18px;
}
#hscroll>div, #vscroll > div {
    position: absolute;
    border-style: solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-bottom-color: #999;
    border-right-color: #999;
    background-color: #bbb;
}
#toolbox > canvas {
    border: 1px solid #000;
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%), 
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:25px 25px; /* Must be a square */
    background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}
#currtint {
    width: 64px;
    height: 64px;
    display: inline-block;
    border: 1px solid #000;

}